body {
  margin: 0;
  font-family: "Courier New", monospace;
  background: radial-gradient(circle, #020617, #000);
  color: #00ffcc;
  text-align: center;
}

header {
  padding: 20px;
  background: #020617;
  border-bottom: 1px solid #00ffcc;
}

.scanner {
  background: rgba(2, 6, 23, 0.9);
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00ffcc;
}

input, select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: black;
  border: 1px solid #00ffcc;
  color: #00ffcc;
}

button {
  width: 100%;
  padding: 12px;
  background: #00ffcc;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #00ccaa;
}

#result {
  margin-top: 15px;
  font-size: 14px;
}

footer {
  margin-top: 40px;
  font-size: 12px;
  color: #aaa;
}